/*          For demo purpose         */


.fixed-plugin{
    position: fixed;
    top: 50%;
    right: -2%;
    z-index: 1031;
}

.fixed-plugin .btn{
    margin: 0px 0px 0;
    /* color: #FFFFFF; */
     transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
	transition: all 0.8s ease 0s;
    -webkit-transition: all 0.8s ease 0s;
    -moz-transition: all 0.8s ease 0s;
    -ms-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    width: auto;
}
/* Removed empty ruleset for .fixed-plugin .btn:hover */


@media (max-width:768px){
    .fixed-plugin{
        top: 50%;
        right: -4%;
    }
    .main .container{
        margin-bottom: 50px;
    }
}

@media (min-width: 768px){
    
    .btn-wd {
        min-width: 140px;
    }
}



.fixed-plugin ul > li:last-child a{
    margin-bottom: 15px;
}



.requiredfield{
    color: #f44336;
    display: inline-block;
    font-size: 90%;
    line-height: 0!important;
    margin: 0!important;
}

.pull-right {
    float: right!important;
}

.pull-left {
    float: left!important;
}

/* Add custom styles for radio buttons */
.custom-radio-group {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap between radio buttons as needed */
    margin-bottom: 10px; /* Add some space between the two lines */
}

.custom-radio {
    display: flex;
    align-items: center;
}

.custom-radio input[type="radio"] {
    display: none;
}

.custom-radio label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.custom-radio label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid #007bff;
    border-radius: 50%;
    background-color: #fff;
}

.custom-radio input[type="radio"]:checked + label::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007bff;
}